nlt-dp203/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "nlt-dp203"
		},
		"ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://nlt1166dp203.dfs.core.windows.net/"
		},
		"KeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://nlt-dp203.vault.azure.net/"
		},
		"LS_REST_OpenWeatherAPI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().base_url}"
		},
		"LS_AWS_S3_properties_typeProperties_accessKeyId": {
			"type": "object",
			"defaultValue": {
				"type": "AzureKeyVaultSecret",
				"store": {
					"referenceName": "KeyVault",
					"type": "LinkedServiceReference"
				},
				"secretName": "AWS-S3-AssessKeyID"
			}
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_API_test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "API Call",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy",
									"blockSizeInMB": 4
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['coord']['lon']"
										},
										"sink": {
											"name": "lon"
										}
									},
									{
										"source": {
											"path": "$['coord']['lat']"
										},
										"sink": {
											"name": "lat"
										}
									},
									{
										"source": {
											"path": "$['weather'][0]['id']"
										},
										"sink": {
											"name": "weather'][0]['id"
										}
									},
									{
										"source": {
											"path": "$['weather'][0]['main']"
										},
										"sink": {
											"name": "main"
										}
									},
									{
										"source": {
											"path": "$['weather'][0]['description']"
										},
										"sink": {
											"name": "description"
										}
									},
									{
										"source": {
											"path": "$['weather'][0]['icon']"
										},
										"sink": {
											"name": "icon"
										}
									},
									{
										"source": {
											"path": "$['base']"
										},
										"sink": {
											"name": "base"
										}
									},
									{
										"source": {
											"path": "$['main']['temp']"
										},
										"sink": {
											"name": "temp"
										}
									},
									{
										"source": {
											"path": "$['main']['feels_like']"
										},
										"sink": {
											"name": "feels_like"
										}
									},
									{
										"source": {
											"path": "$['main']['temp_min']"
										},
										"sink": {
											"name": "temp_min"
										}
									},
									{
										"source": {
											"path": "$['main']['temp_max']"
										},
										"sink": {
											"name": "temp_max"
										}
									},
									{
										"source": {
											"path": "$['main']['pressure']"
										},
										"sink": {
											"name": "pressure"
										}
									},
									{
										"source": {
											"path": "$['main']['humidity']"
										},
										"sink": {
											"name": "humidity"
										}
									},
									{
										"source": {
											"path": "$['main']['sea_level']"
										},
										"sink": {
											"name": "sea_level"
										}
									},
									{
										"source": {
											"path": "$['main']['grnd_level']"
										},
										"sink": {
											"name": "grnd_level"
										}
									},
									{
										"source": {
											"path": "$['visibility']"
										},
										"sink": {
											"name": "visibility"
										}
									},
									{
										"source": {
											"path": "$['wind']['speed']"
										},
										"sink": {
											"name": "speed"
										}
									},
									{
										"source": {
											"path": "$['wind']['deg']"
										},
										"sink": {
											"name": "deg"
										}
									},
									{
										"source": {
											"path": "$['wind']['gust']"
										},
										"sink": {
											"name": "gust"
										}
									},
									{
										"source": {
											"path": "$['clouds']['all']"
										},
										"sink": {
											"name": "all"
										}
									},
									{
										"source": {
											"path": "$['dt']"
										},
										"sink": {
											"name": "dt"
										}
									},
									{
										"source": {
											"path": "$['sys']['country']"
										},
										"sink": {
											"name": "country"
										}
									},
									{
										"source": {
											"path": "$['sys']['sunrise']"
										},
										"sink": {
											"name": "sunrise"
										}
									},
									{
										"source": {
											"path": "$['sys']['sunset']"
										},
										"sink": {
											"name": "sunset"
										}
									},
									{
										"source": {
											"path": "$['timezone']"
										},
										"sink": {
											"name": "timezone"
										}
									},
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name"
										}
									},
									{
										"source": {
											"path": "$['cod']"
										},
										"sink": {
											"name": "cod"
										}
									}
								],
								"collectionReference": "$['weather']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "DS_OpenWeatherAPI",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Generic_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"dir": "openWeather",
									"file_name": {
										"value": "@concat(formatDateTime(utcNow(),'yyyy-MM-dd'),'.parquet')",
										"type": "Expression"
									},
									"ws": "stg"
								}
							}
						]
					},
					{
						"name": "Copy to Processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "API Call",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "openWeather",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy",
									"blockSizeInMB": 4
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "lon",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "lon",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "lat",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "lat",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "weather'][0]['id",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "weather_condition_code",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "main",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "weather_group",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "weather_description",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "icon",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "icon_id",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "temp",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "temp",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "feels_like",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "feels_like_temp",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "temp_min",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "temp_min",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "temp_max",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "temp_max",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "pressure",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "pressure",
											"type": "Int64",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "humidity",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "humidity",
											"type": "Int64",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "sea_level",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "sea_level",
											"type": "Int64",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "grnd_level",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "grnd_level",
											"type": "Int64",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "visibility",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "visibility_distance_meter",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "speed",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "wind_speed_m/s",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "deg",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "wind_direction_degree",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "gust",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "gust",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "all",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "cloudiness_pct",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "dt",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "time_stamp",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "country_code",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "sunrise",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "sunrise_time",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "sunset",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "sunset_time",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "timezone",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "timezone",
											"type": "Int64",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "city_id",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "city_name",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "cod",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "respond_status",
											"physicalType": "INT_64"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Generic_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"dir": "openWeather",
									"file_name": {
										"value": "@concat(formatDateTime(utcNow(),'yyyy-MM-dd'),'.parquet')",
										"type": "Expression"
									},
									"ws": "stg"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Generic_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"dir": "openWeather",
									"file_name": "@concat(formatDateTime(utcNow(),'yyyy-MM-dd'),'.parquet')",
									"ws": "processed"
								}
							}
						]
					},
					{
						"name": "Send Success Noti",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy to Processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-12.southeastasia.logic.azure.com:443/workflows/e4328903262243db92a5985bf63a31a0/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=J-HujCTxzLRKZeNG53TUpT4v5Q2AU7C9ir7rysJb34A",
							"body": {
								"value": "{\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"runId\": \"@{pipeline().RunId}\",\n  \"status\": \"Success!\",\n  \"startTime\": \"@{pipeline().TriggerTime}\",\n  \"endTime\": \"@{utcnow()}\",\n  \"durationInSeconds\": \"@{div(sub(ticks(utcnow()), ticks(pipeline().TriggerTime)), 10000000)}\",\n  \"triggerType\": \"@{pipeline().TriggerType}\"\n}\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Send Fail Noti",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy to Processed",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-12.southeastasia.logic.azure.com:443/workflows/e4328903262243db92a5985bf63a31a0/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=J-HujCTxzLRKZeNG53TUpT4v5Q2AU7C9ir7rysJb34A",
							"body": {
								"value": "{\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"runId\": \"@{pipeline().RunId}\",\n  \"status\": \"Failed\",\n  \"startTime\": \"@{pipeline().TriggerTime}\",\n  \"endTime\": \"@{utcnow()}\",\n  \"durationInSeconds\": \"@{div(sub(ticks(utcnow()), ticks(pipeline().TriggerTime)), 10000000)}\",\n  \"triggerType\": \"@{pipeline().TriggerType}\"\n}\n",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_OpenWeatherAPI')]",
				"[concat(variables('factoryId'), '/datasets/DS_Generic_Parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Generic_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dir": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					},
					"ws": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().dir",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().ws",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_OpenWeatherAPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_REST_OpenWeatherAPI",
					"type": "LinkedServiceReference",
					"parameters": {
						"base_url": "https://api.openweathermap.org/data/2.5/"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "weather?lat=19.633&lon=96.117&appid=bca1ae0e26887cd5a74b1c8efc2c6e7d&units=metric"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_REST_OpenWeatherAPI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "ADLS-Key"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('KeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_REST_OpenWeatherAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"base_url": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_REST_OpenWeatherAPI_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_API_test",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-02-08T03:34:00",
						"timeZone": "SE Asia Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_API_test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Jobnet_Scraping')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "From S3 to ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"wildcardFolderPath": "scraped_data",
									"wildcardFileName": {
										"value": "@concat('jobs_',formatDateTime(utcNow('d'),'yyyyMMdd'),'.csv')",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Titles",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "titles",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Company",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "company",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "job_category",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Location",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "job_location",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Benefits",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "benefits",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Highlights",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "highlights",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Opportunities",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "opportunities",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Posted_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "job_posted_date",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Link",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "job_link",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "page_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "page_id",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_jobnet_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Generic_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"dir": "stg/jobnet",
									"file_name": {
										"value": "@concat('jobnet_jobs_',formatDateTime(utcNow('d'),'yyyyMMdd'),'.parquet')",
										"type": "Expression"
									},
									"ws": "nlt1166dp203"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_jobnet_raw')]",
				"[concat(variables('factoryId'), '/datasets/DS_Generic_Parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AWS_S3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AmazonS3",
				"typeProperties": {
					"serviceUrl": "https://s3.amazonaws.com",
					"accessKeyId": "[parameters('LS_AWS_S3_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AWS-S3-Secret"
					},
					"authenticationType": "AccessKey"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_jobnet_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AWS_S3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "jobnet-pipeline",
						"folderPath": "scraped_data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Titles",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Benefits",
						"type": "String"
					},
					{
						"name": "Highlights",
						"type": "String"
					},
					{
						"name": "Opportunities",
						"type": "String"
					},
					{
						"name": "Posted_Date",
						"type": "String"
					},
					{
						"name": "Link",
						"type": "String"
					},
					{
						"name": "page_id",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AWS_S3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TR_Daily_6AM_BKK')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_Jobnet_Scraping",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-02-12T11:23:00",
						"timeZone": "SE Asia Standard Time",
						"schedule": {
							"minutes": [
								10
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Jobnet_Scraping')]"
			]
		}
	]
}